extends ../layout/index
block contenido
    main.container.sobre-sinertics.mt-5
        .row
            .col-md-7.col-12
                img(src="/img/instalaciones.jpg", class= "img-fluid" alt="")
            .col-md-5.text-justify.py-5
                h1.text-center.mb-3 #{pagina}
                p 
                    |Sinertics es una empresa local de venta de productos y servicios tecnológicos, contamos con mas de 10 años de experiencia en consultoria y soporte tecnico a empresas corporativas.
                p
                    |Hemos crecido y estamos repotenciando nuestro giro de negocio de acuerdo a las necesidades demandadas por los diferentes sectores de producción del Ecuador.

                p 
                    |Creemos firmemente y podemos demostrar que el sector TI es estrategico para tu negocio, sé parte de la transformación digital.

    .listado-iconos
        .container.mt-5.py-5.text-center
            h2.mb-5.text-center Por qué trabajar con nosotros
            .row
                .col-md-3
                    img.mb-4(src="/img/diferenciador01.svg", alt="", class="img-fluid")
                    p Equipo capacitacido y experimentado.
                .col-md-3
                    img.mb-4(src="/img/diferenciador02.svg", alt="", class="img-fluid")
                    p Vocación de servicio y compromiso.
                .col-md-3
                    img.mb-4(src="/img/diferenciador03.svg", alt="", class="img-fluid")
                    p Trabajamos con tecnología moderna.
                .col-md-3
                    img.mb-4(src="/img/diferenciador04.svg", alt="", class="img-fluid")
                    p Inovación y desarrollo permanente.

    .compromiso-clientes
        .container.mt-5.py-5.text-center
            h2.mb-5.text-center Compromiso con nuestros clientes
            .row
                .col-md-4
                    img.mb-3(src="img/compromiso1.svg", alt="")
                    p Respuestas rápidas
                .col-md-4
                    img.mb-3(src="img/compromiso2.svg", alt="")
                    p Actitud Positiva
                .col-md-4
                    img.mb-3(src="img/compromiso3.svg", alt="")
                    p Inovación constante


