extends ../layout/index
block slider
    .slider
        
block contenido
    .container.mt-5
        .row
            .col-md-4.mb-5
                p.text-dark 
                    | Nosotros
                h2 Brindamos soluciones eficientes para tu negocio
                p.text-dark
                    | Ayudamos a empresas y negocios a transformar la forma en que operan a través de la aplicación de las TICs
                a(href='/nosotros', class="btn btn-success ") Conoce como
        
            .col-md-4.mb-5
                p.text-dark
                    |Servicios
                h2 Servicios bajo demanda liberate de contratos.
                p.text-dark
                    | Nuestro servicio es bajo demanda, nuestros tiempos de respuesta son inmediatos
                a(href="/servicios", class="btn btn-success") Conoce como

            .col-md-4.mb-5
                p.text-dark
                    |Productos
                h2 Venta de Productos.
                p.text-dark
                    | Importamos productos de calidad a precios razonables.
                a(href="/productos", class="btn btn-success") Ver Productos

    
