extends ../layout/index
block contenido
    .servicios-ti
        .container
            .row
                .col-md-4.mt-5
                    p.text-dark 
                        |Helpdesk
                    h2 Brindamos soporte remoto bajo demanda
                    p.text-dark
                        |Soporte remoto y presencial profesional, paga por servicio realizado, sin contratos
                    a( target='_blank', href="https://api.whatsapp.com/send?phone=593982329366&text=Estoy%20interesado%20en%20este%20producto,%20se%20encuentra%20disponible?", class="btn btn-success btn-block") Mas información
                .col-md-8.text-center.mt-5
                    img(src="/img/soporteti.svg", alt="", class="img-fluid")

            .row
                .col-md-4.mt-5
                    p.text-dark 
                        |Diseño y Desarrollo Web 
                    h2 Impulsa tu negocio en Internet
                    p.text-dark
                        |Diseñamos y desarrollamos páginas, tiendas virtuales y aplicaciones Web.
                    a(target ='_blank', href="https://api.whatsapp.com/send?phone=593982329366&text=Estoy%20interesado%20en%20este%20producto,%20se%20encuentra%20disponible?", class="btn btn-success btn-block") Mas información
                .col-md-8.text-center.mt-5
                    img(src="/img/web.svg", alt="", class="img-fluid")